body{
	text-align: center;
	width: 40%;
	height: 90%;
	border:solid;
	position: absolute;
	left: 30%;
}
button{
	margin: 10px;
}
#answerArea{
	font-weight: bold;
	font-size: large;
}
#heading{
	text-align: left;
}