body{
	text-align: center;
	width: 60%;
	height: 100%;
	border:solid;
	position: absolute;
	left: 20%;
}
button{
	margin: 10px;
}
#answerArea{
	font-weight: bold;
	font-size: large;
}
#heading{
	text-align: left;
}
#reformbut,#checkbut,#getCorrect,#hideCorrect{
	display: none;
	margin: auto;
}
#rightResult{
	color: green;
}
#wrongResult{
	color: red;
}