body{
	text-align: center;
	width: 70%;
	height: 100%;
	position: absolute;
	left: 15%;
	background-color: #01284d;
	margin-top: 0;
}
#obj{
	text-align: left;
	font-size: xx-small;
	color: black;
	font-family: sans-serif;
}
button{
	margin: 10px;
}
#answerArea{
	font-weight: bold;
	font-size: large;
}
#heading{
	text-align: left;
	padding-top: 10px;
}
select{
	text-align: center;
	
}
#reformbut,#checkbut,#getCorrect,#hideCorrect{
	display: none;
	margin: auto;
}
#rightResult{
	color: green;
}
#wrongResult{
	color: red;
}
img{
	margin-left: 0;
	height: auto;
}
.heading{
	text-align: left;
	color: white;
	background-color: #0073e6;
	height: auto;
	padding-bottom: 0px;
	margin-top: 0px;
}
.heading a{
	color: white;
	text-decoration: none;
	padding-left: 15px;
	font-family: sans-serif;
}
.heading img{
	width: 100%;
}
.heading h3{
	width: 55%;
}
.heading h3:hover{
	background-color: #004d99;
	color: white
}

.noBullets{
	list-style-type: none;
	text-align: left;
	color: white;
	height: 3px;
	padding-top: 0;
}
.noBullets ul li{
display: inline;
}
.noBullets a{
	color: white;
	text-decoration: none;
}
.main{
	background-color: #e6f2ff;
	height: auto;
}
.main h1{
	text-align: left;
	font-weight: normal;
	padding-top: 10px;
	margin-left: 20px;
}
.active{
	background-color: white;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.nav2{
	text-align: left;
	list-style-type: none;
}
.nav2 ul{
	display: inline;
	padding-right: 20px;
	margin-left: 0px;
}
.nav2 .nav2Butt{
	text-decoration: underline;
	border: none;
	font-size: 10px;
	color: #0e639c;
	background-color: white;
}
.nav2 .nav2Butt:hover{
	background-color: #004d99;
	color: white
} 
.theory{
	display: none;
}
.theory p,ul{
	text-align: left;
}
.theory td{
	text-align: left;
	padding-left: 5px;
}
.theory table,th,td{
	border:solid;
	border-collapse: collapse;
}
.experiment{
	display: none;
}
#lexTable table,th,td{
	border:solid;
	border-collapse: collapse;
}
#lexTable td{
	text-align: left;
	padding-left: 10px;
	font-family: sans-serif;
}
#lexTable table{
	margin: auto;
}
#lexTable th{
	font-family: monospace;
	color: brown;
	border-color: black;
}
#sub{
	display: none;
	margin: auto;
}
.theory,.objective,.quiz,.procedure{
	display: none;
	text-align: left;
	font-size: xx-small;
	color: black;
	font-family: sans-serif;
}
.readings{
	display: none;
	font-size: xx-small;
	color: black;
	font-family: sans-serif;
}
.theory table{
	margin: auto;
}
.experiment #instr{
	color: blue;
	font:italic;
	font-size: small;
}
.experiment